![lsbu](https://storage-prtl-co.imgix.net/endor/organisations/11506/logos/1540893470_rsz_lsbu_crest_simple_white_text_horizon_blackoutline.jpg)

## Introduction
This notebook shows how to retrieve text messages sent by students to a Twilio number for a specific time duration to create an attendance based on the course date time data available on course datasets stored in .csv files.

## Objectives
-  Create attendance from twilio messages
-  Send acknowledgments to the students
-  Send email attachment of the attendance to the tutor

In [1]:
# Import libraries
import os
import pathlib
import secrets
from dotenv import load_dotenv
import pandas as pd
from datetime import datetime
from twilio.rest import Client
from flask import Flask
from flask_mail import Mail, Message

In [2]:
# Set paths
base_dir = pathlib.Path().absolute().parent
# Path to all data directories
data = base_dir/'datasets'

# Path to credentials data
credentials = data/'credentials'

# Path to state data
state = data/'state'

# Path to raw data
raw = data/'raw'

# Path to processed data
processed = data/'processed'

# Path to environment variables
env_vars = pathlib.Path(base_dir/'env_vars')

In [3]:
# Load environment variables from .env.txt file

"""
The following section reads a env file to load twilio credentials saved in a '.env' file
"""
load_dotenv(env_vars/".env.txt")

# Create twilio client object
account_sid = os.environ.get("TWILIO_ACCOUNT_SID")
auth_token = os.environ.get("TWILIO_AUTH_TOKEN")
client = Client(account_sid, auth_token)

In [4]:
# Load student table
df_students = pd.read_csv(credentials/'students.csv')
# Preview
df_students.head()

   id first_name last_name  student_id                   email
0   1     Khaled     Ahmed     3821656     ahmedk56@lsbu.ac.uk
1   2      Bobby    Hurley     3821657    hurleyb57@lsbu.ac.uk
2   3     Porter  Mckinney     3821658  mckinneyp58@lsbu.ac.uk
3   4      Laura    Meyers     3821659    meyersl59@lsbu.ac.uk
4   5    Natalya   Skinner     3821660   skinnern60@lsbu.ac.uk

In [5]:
# Load course table
df_courses = pd.read_csv(credentials/'courses.csv')
# Preview
df_courses.head()

,id,course_name,course_code,tutor,email,teaching_day,start_time,end_time
0,1,Engineering Mathematics and Modelling,101,Jon Selig,seligjm@lsbu.ac.uk,Monday,09:00,11:00
1,2,Digital Logic Design,102,Oswaldo Cadenas,cadenaso@lsbu.ac.uk,Tuesday,10:00,12:00
2,3,Cybersecurity and Cryptography,103,Stavros Dimitriou,dimitrsa@lsbu.ac.uk,Wednesday,12:00,14:00
3,4,Final Year Project,104,Fang Duan,duanf@lsbu.ac.uk,Thursday,12:00,14:00
4,5,Computer Systems and Software Engineering,105,Ya Bao,baoyb@lsbu.ac.uk,Friday,13:00,15:00

In [6]:
# Load timetable table
df_timetable = pd.read_csv(credentials/'timetable.csv', parse_dates=['week_start', 'week_end'], infer_datetime_format=True)
# Preview
df_timetable.head()

,academic_semester,academic_week,calendar_week,date_range,week_start,week_end
0,1,1,39,2022-09-26/2022-10-02,2022-09-26,2022-10-02
1,1,2,40,2022-10-03/2022-10-09,2022-10-03,2022-10-09
2,1,3,41,2022-10-10/2022-10-16,2022-10-10,2022-10-16
3,1,4,42,2022-10-17/2022-10-23,2022-10-17,2022-10-23
4,1,5,43,2022-10-24/2022-10-30,2022-10-24,2022-10-30

In [7]:
# All courses
courses = df_courses.course_name.dropna().unique()
courses

array(['Engineering Mathematics and Modelling', 'Digital Logic Design',
       'Cybersecurity and Cryptography', 'Final Year Project',
       'Computer Systems and Software Engineering',
       'Desging and Practice', 'Engineering Computing',
       'Engineering Principles', 'Innovation and Enterprise',
       'Computer Networks'], dtype=object)

In [8]:
# All weeks
weeks = list(df_timetable.academic_week.dropna().unique())
weeks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [9]:
# Create a dictionary for days
days_dict = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}
days_dict

{'Monday': 0,
 'Tuesday': 1,
 'Wednesday': 2,
 'Thursday': 3,
 'Friday': 4,
 'Saturday': 5,
 'Sunday': 6}

In [10]:
# Define inputs, in flask these inputs are derived from the web form
course_name = df_courses.course_name[2] # request.form['comp_select']
print('Course Name: ', course_name)
course_code = df_courses.loc[df_courses.course_name == course_name, 'course_code'].squeeze()
print('Course Code: ', course_code)
semester = 2 #int(request.form['comp_select1'])
print('Semester: ', semester)
academic_week = 1 #int(request.form['comp_select2'])
print('Academic Week: ', academic_week)

# Define file name to store data
file_name = f'{course_code}_semester_{semester}_week_{academic_week}_attendance.csv'
print('file Name: ', file_name)

Course Name:  Cybersecurity and Cryptography
Course Code:  103
Semester:  2
Academic Week:  1
file Name:  103_semester_2_week_1_attendance.csv

In [11]:
# Derive date time variables
teaching_day = df_courses.loc[df_courses.course_name == course_name, 'teaching_day'].squeeze()
day_num_in_week = days_dict[teaching_day]
week_start = df_timetable.loc[(df_timetable.academic_semester==semester) & (df_timetable.academic_week==academic_week), 'week_start'] 
year = (week_start + pd.DateOffset(days=day_num_in_week)).dt.year.squeeze()
month = (week_start + pd.DateOffset(days=day_num_in_week)).dt.month.squeeze()
month_name = (week_start + pd.DateOffset(days=day_num_in_week)).dt.month_name().squeeze()
week = (week_start + pd.DateOffset(days=day_num_in_week)).dt.week.squeeze()
day = (week_start + pd.DateOffset(days=day_num_in_week)).dt.day.squeeze()
day_name = (week_start + pd.DateOffset(days=day_num_in_week)).dt.day_name().squeeze()
date = (week_start + pd.DateOffset(days=day_num_in_week)).dt.date.squeeze()
start_hour = int(df_courses.loc[df_courses.course_name == course_name, 'start_time'].apply(lambda x: str(x)[:2]).squeeze())
end_hour = int(df_courses.loc[df_courses.course_name == course_name, 'end_time'].apply(lambda x: str(x)[:2]).squeeze())

# Preview
teaching_day, day_num_in_week, week_start, year, month, month_name, week, day, day_name, date, start_hour, end_hour

C:\Users\ahmedk40\Miniconda3\envs\twilio\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

('Wednesday',
 2,
 13   2023-01-23
 Name: week_start, dtype: datetime64[ns],
 2023,
 1,
 'January',
 4,
 25,
 'Wednesday',
 datetime.date(2023, 1, 25),
 12,
 14)

In [12]:
# Retrieve sms using the client object
messages = client.messages.list(
    date_sent_after=datetime(year, month, day, start_hour, 0, 0),
    date_sent_before=datetime(year, month, day, end_hour, 0, 0)
)
messages

[<Twilio.Api.V2010.MessageInstance account_sid=AC09707889db3719e911d4ab78188afc7b sid=SM0b25d78117b2311504edef0d0faaffc1>,
 <Twilio.Api.V2010.MessageInstance account_sid=AC09707889db3719e911d4ab78188afc7b sid=SM171a21218bb7d04c99b044e17bb6f8f8>,
 <Twilio.Api.V2010.MessageInstance account_sid=AC09707889db3719e911d4ab78188afc7b sid=SMd0047080bdc41bee18da0234d9ac00d3>,
 <Twilio.Api.V2010.MessageInstance account_sid=AC09707889db3719e911d4ab78188afc7b sid=SM67a8e5bd0f51efc3714a07a6528ebddd>]

In [13]:
# Append the retrieved sms's to a dataframe
if len(messages) == 0:
    df = None
else:
    d = []
    for message in messages:
        d.append((message.from_, message.body ,message.status,message.date_sent))

    df = pd.DataFrame(d ,columns=['from' ,'message' ,'status' ,'date_sent'])

# Preview
df.head()

,from,message,status,date_sent
0,+447700168312,Sent from your Twilio trial account - Hi Khale...,delivered,2023-01-25 13:41:56+00:00
1,+447700168312,Sent from your Twilio trial account - Hi Khale...,delivered,2023-01-25 13:33:48+00:00
2,+447440049121,3821656,received,2023-01-25 13:22:10+00:00
3,+447440049121,3821656 103,received,2023-01-25 12:26:28+00:00

In [14]:
# Extract new features
df['student_id'] = df.message.str.split(' ', expand=True, n=1).astype(str)[0]
df['course_code'] = df.message.str.split(' ', expand=True, n=1).astype(str)[1]

def student_name(df):
    first_name = df_students.loc[df_students.student_id.astype(str) == df.student_id, 'first_name'].squeeze()
    last_name = df_students.loc[df_students.student_id.astype(str) == df.student_id, 'last_name'].squeeze()
    df['student_name'] = first_name+ ' ' + last_name
    return df

df = df.loc[df.status=='received'].apply(student_name, axis='columns')

# Preview
df.head()

,from,message,status,date_sent,student_id,course_code,student_name
2,+447440049121,3821656,received,2023-01-25 13:22:10+00:00,3821656,None,Khaled Ahmed
3,+447440049121,3821656 103,received,2023-01-25 12:26:28+00:00,3821656,103,Khaled Ahmed

In [15]:
# Valid Attendance
df_attendance = df.loc[(df.student_id.isin(df_students.student_id.astype(str))) & (df.course_code==str(course_code))]
df_attendance = df_attendance[['from', 'student_id', 'student_name', 'message', 'date_sent']]

# Preview
df_attendance.head()

,from,student_id,student_name,message,date_sent
3,+447440049121,3821656,Khaled Ahmed,3821656 103,2023-01-25 12:26:28+00:00

In [16]:
# Spammed Attendance
df_invalid_attendance = df.loc[~(df.student_id.isin(df_students.student_id.astype(str))) | (df.course_code!=str(course_code))]

# Preview
df_invalid_attendance.head()

,from,message,status,date_sent,student_id,course_code,student_name
2,+447440049121,3821656,received,2023-01-25 13:22:10+00:00,3821656,None,Khaled Ahmed

In [17]:
# Store the data in dedicated locations by uncommenting the code block below.
# df.to_csv(raw/file_name, index=False)
# df_attendance.to_csv(processed/'attendance'/file_name, index=False)
# df_invalid_attendance.to_csv(processed/'spam'/file_name, index=False)

In [18]:
# Update teh Weekly attendance file
df_weekly = pd.read_csv(processed/'weekly_attendance.csv')

df_weekly = df_weekly.append({
    'course_name': course_name, 'course_code': course_code, 'date': date, 'year': year, 'month': month_name,
    'day': day_name, 'week': week, 'academic_semester': semester, 'academic_week': academic_week, 'total_attendees': len(df_attendance)
}, ignore_index=True)
# df_weekly.to_csv(processed/'weekly_attendance.csv', index=False)

# Preview
df_weekly.tail()

,course_name,course_code,date,year,month,day,week,academic_semester,academic_week,total_attendees
117,Engineering Principles,108,14/12/2022,2022,December,Wednesday,50,1,12,158
118,Innovation and Enterprise,109,15/12/2022,2022,December,Thursday,50,1,12,152
119,Computer Networks,110,16/12/2022,2022,December,Friday,50,1,12,157
120,Cybersecurity and Cryptography,103,2023-01-25,2023,January,Wednesday,4,2,1,1
121,Cybersecurity and Cryptography,103,2023-01-25,2023,January,Wednesday,4,2,1,1

In [19]:
# Acknowledgement message to the students
for student in df_attendance.student_id:
    student_name = df_students.loc[df_students.student_id.astype(str).isin([student]), 'first_name'].squeeze()
    student_phone_no = df_attendance.loc[df_attendance.student_id==student, 'from'].squeeze()

    client.messages.create(
    body = f"Hi {student_name}, congratulations! Your attendance for '{course_name}', 'semester {semester}', 'week {academic_week}' has been successfully registered.",
    from_ = os.environ.get("TWILIO_PHONE_NUMBER"),
    to=student_phone_no)

__N.B.:__ The following code blocks need to be run within the flask script to get successful results, therefore, commented out.

In [21]:
# # Flask app
# app = Flask(__name__)

# # Configure a secret-key for the flask app
# app.config["SECRET_KEY"] = secrets.token_hex(24)
# # Configure flask mail app
# app.config['MAIL_SERVER'] = 'smtp.mailtrap.io'
# app.config['MAIL_PORT'] = 2525
# app.config['MAIL_USERNAME'] = os.environ.get('MAIL_USERNAME')
# app.config['MAIL_PASSWORD'] = os.environ.get('MAIL_PASSWORD')
# app.config['MAIL_USE_TLS'] = True
# app.config['MAIL_USE_SSL'] = False

# # Create mail app
# mail = Mail(app)

In [22]:
# # Email the attendance to the tutor
# tutor_name = df_courses.loc[df_courses.course_name == course_name, 'tutor'].str.split(' ', expand=True, n=1)[0].squeeze()
# tutor_email = df_courses.loc[df_courses.course_name == course_name, 'email'].squeeze()
# msg = Message(f'Attendance- {course_name}, semester {semester}, week {academic_week}',
#           sender="admin@attendance.lsbu.ac.uk", recipients=[tutor_email])
# msg.body = f"Hi {tutor_name},\n\nThe attendance for '{course_name}' for 'semester {semester}', 'week {academic_week}' has been created.\n\nPlease find the attendance attached!\n\nKind Regards,\nAttendance Team"
# with app.open_resource(f'datasets\\processed\\attendance\\{file_name}') as fp:  
#     msg.attach(f'datasets\\processed\\attendance\\{file_name}', "text/csv", fp.read()) 
# mail.send(msg)

### Summary
In this notebook it was demonstrated how to:
-  Create attendance from twilio messages
-  Send acknowledgments to the students
- Send email attachment of the attendance to the tutor

<center><b>Author</b></center>

| Name | Date Created | Last Modified |
|------|--------------|---------------|
|Khaled Ahmed | 25/01/2023 | 25/01/2023|