In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('scot_rail_consist.csv')

In [5]:
df

,Unnamed: 0,id,name,type,latitude,longitude,gpsTime,systemTime,status,trainId,customerId,fleetId
0,0,334002,ScotRail 334002,Cl334,55.886638,-3.719742,2022-05-31 15:16:23.870,2022-05-31 15:16:24.070,NaN,NaN,2,2
1,1,33413,ScotRail 33413,Cl334,55.888565,-4.371360,2021-12-24 23:37:47.470,2021-12-24 23:37:47.590,NaN,NaN,2,2
2,2,334027,ScotRail 334027,Cl334,55.864617,-4.270437,2022-05-31 15:16:14.290,2022-05-31 15:16:14.400,NaN,NaN,2,2
3,3,334022,ScotRail 334022,Cl334,55.856883,-4.225540,2022-05-31 15:16:06.710,2022-05-31 15:16:06.820,NaN,NaN,2,2
4,4,334031,ScotRail 334031,Cl334,55.890605,-4.380520,2022-05-31 15:16:00.770,2022-05-31 15:16:00.920,NaN,NaN,2,2
5,5,334019,ScotRail 334019,Cl334,55.864702,-4.270810,2022-05-31 15:15:56.680,2022-05-31 15:15:56.790,NaN,NaN,2,2
6,6,334012,ScotRail 334012,Cl334,55.909858,-4.419433,2022-05-31 15:16:03.100,2022-05-31 15:16:03.210,NaN,NaN,2,2
7,7,334026,ScotRail 334026,Cl334,55.896702,-3.636513,2022-05-31 15:15:59.380,2032-03-31 21:45:05.030,NaN,NaN,2,2
8,8,334007,ScotRail 334007,Cl334,55.875325,-4.219673,2022-05-31 15:16:12.710,2022-05-31 15:16:13.200,NaN,NaN,2,2
9,9,334034,ScotRail 334034,Cl334,55.862560,-4.252918,2022-05-31 15:15:56.690,2022-05-31 15:15:56.800,NaN,NaN,2,2
10,10,334008,ScotRail 334008,Cl334,55.866263,-4.045522,2022-05-31 15:15:57.430,2022-05-31 15:15:57.560,NaN,NaN,2,2
11,11,334004,ScotRail 334004,Cl334,55.901093,-4.327725,2022-05-31 15:16:07.690,2022-05-31 15:16:07.920,NaN,NaN,2,2
12,12,334009,ScotRail 334009,Cl334,55.842367,-4.217292,2022-05-31 15:16:05.520,2022-05-31 15:16:05.630,NaN,NaN,2,2
13,13,3341,ScotRail 3341,Cl334,55.859887,-4.105548,2022-02-17 15:04:09.890,2022-02-17 15:04:10.050,NaN,NaN,2,2
14,14,334011,ScotRail 334011,Cl334,55.846900,-4.286137,2021-09-08 21:41:40.750,2021-09-08 21:41:40.910,NaN,NaN,2,2
15,15,334005,ScotRail 334005,Cl334,55.927032,-3.312633,2022-05-31 15:15:52.020,2022-05-31 15:15:52.160,NaN,NaN,2,2
16,16,334017,ScotRail 334017,Cl334,55.906485,-4.342198,2022-05-31 15:16:07.290,2022-05-31 15:16:07.480,NaN,NaN,2,2
17,17,334016,ScotRail 334016,Cl334,55.890710,-4.380700,2022-05-31 14:15:52.670,2022-05-31 15:15:42.690,NaN,NaN,2,2
18,18,334021,ScotRail 334021,Cl334,55.859893,-4.106925,2022-05-31 15:15:57.140,2022-05-31 15:15:57.260,NaN,NaN,2,2
19,19,334030,ScotRail 334030,Cl334,55.857232,-4.227478,2022-05-31 15:15:49.840,2022-05-31 15:15:49.960,NaN,NaN,2,2
20,20,334020,ScotRail 334020,Cl334,55.929242,-3.292682,2022-05-31 15:15:55.550,2022-05-31 15:15:55.760,NaN,NaN,2,2
21,21,334025,ScotRail 334025,Cl334,55.854743,-4.190298,2021-08-03 15:42:56.930,2021-08-03 15:42:57.040,NaN,NaN,2,2
22,22,334006,ScotRail 334006,Cl334,55.950905,-3.195128,2022-05-31 15:15:56.190,2022-05-31 15:15:56.480,NaN,NaN,2,2
23,23,334028,ScotRail 334028,Cl334,55.895578,-4.319730,2022-05-31 15:16:20.990,2022-05-31 15:16:21.090,NaN,NaN,2,2
24,24,334033,ScotRail 334033,Cl334,55.900495,-4.326213,2022-05-31 15:15:50.410,2022-05-31 15:15:50.530,NaN,NaN,2,2
25,25,334032,ScotRail 334032,Cl334,55.883070,-4.326550,2022-05-31 15:16:07.810,2022-05-31 15:16:07.930,NaN,NaN,2,2
26,26,334014,ScotRail 334014,Cl334,55.930968,-4.488375,2022-05-31 15:15:42.960,2022-05-31 15:15:43.100,NaN,NaN,2,2
27,27,334018,ScotRail 334018,Cl334,55.846960,-4.286192,2022-05-31 13:34:41.120,2022-05-31 13:34:41.310,NaN,NaN,2,2
28,28,334029,ScotRail 334029,Cl334,56.003942,-4.731732,2022-05-31 15:15:46.730,2022-05-31 15:15:46.840,NaN,NaN,2,2
29,29,334015,ScotRail 334015,Cl334,56.003930,-4.732003,2022-05-31 15:15:47.780,2022-05-31 15:15:47.880,NaN,NaN,2,2
30,30,334001,ScotRail 334001,Cl334,55.949798,-3.201760,2022-05-31 15:16:00.840,2022-05-31 15:16:00.950,NaN,NaN,2,2
31,31,334010,ScotRail 334010,Cl334,55.896578,-3.635577,2022-05-30 12:33:15.170,2022-05-30 12:33:15.450,NaN,NaN,2,2
32,32,334024,ScotRail 334024,Cl334,55.859615,-4.102188,2022-05-31 15:16:18.830,2022-05-31 15:16:18.950,NaN,NaN,2,2
33,33,33013,ScotRail 33013,Cl334,55.931825,-3.279553,2022-05-31 15:15:57.240,2022-05-31 15:15:57.440,NaN,NaN,2,2
34,34,334023,ScotRail 334023,Cl334,55.929383,-3.292240,2022-05-31 15:15:43.130,2032-03-31 21:45:01.690,NaN,NaN,2,2
35,35,334003,ScotRail 334003,Cl334,55.947747,-4.584247,2022-05-31 15:16:02.560,2022-05-31 15:16:02.670,NaN,NaN,2,2
36,36,334037,ScotRail 334037,Cl334,55.857357,-4.228103,2022-05-31 15:16:20.550,2022-05-31 15:16:20.670,NaN,NaN,2,2
37,37,334038,ScotRail 334038,Cl334,55.896445,-3.635785,2022-05-31 15:16:26.850,2022-05-31 15:16:26.990,NaN,NaN,2,2
38,38,334036,ScotRail 334036,Cl334,56.003810,-4.731068,2022-05-31 15:16:00.230,2022-05-31 15:16:00.450,NaN,NaN,2,2
39,39,334035,ScotRail 334035,Cl334,55.941200,-4.314445,2022-02-25 21:11:38.940,2022-02-25 21:11:39.050,NaN,NaN,2,2
40,40,334039,ScotRail 334039,Cl334,55.893828,-4.389265,2022-05-31 15:16:03.200,2022-05-31 15:16:03.370,NaN,NaN,2,2
41,41,334013,ScotRail 334013,Cl334,55.888638,-4.371225,2022-01-30 14:01:11.310,2022-01-30 14:01:11.470,NaN,NaN,2,2

In [6]:
! pip install plotly

Requirement already satisfied: plotly in /Users/khaledahmed/miniconda3/envs/docs01/lib/python3.9/site-packages (5.8.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/khaledahmed/miniconda3/envs/docs01/lib/python3.9/site-packages (from plotly) (8.0.1)

In [7]:
import plotly.express as px

In [12]:
df.id.value_counts()

334002    1
334010    1
334028    1
334033    1
334032    1
334014    1
334018    1
334029    1
334015    1
334001    1
334024    1
33413     1
33013     1
334023    1
334003    1
334037    1
334038    1
334036    1
334035    1
334039    1
334006    1
334025    1
334020    1
334030    1
334027    1
334022    1
334031    1
334019    1
334012    1
334026    1
334007    1
334034    1
334008    1
334004    1
334009    1
3341      1
334011    1
334005    1
334017    1
334016    1
334021    1
334013    1
Name: id, dtype: int64

In [10]:
df_grpoued = df.groupby('id', as_index=False).sum()

In [11]:
df_grpoued

,id,Unnamed: 0,latitude,longitude,status,trainId,customerId,fleetId
0,3341,13,55.859887,-4.105548,0.0,0.0,2,2
1,33013,33,55.931825,-3.279553,0.0,0.0,2,2
2,33413,1,55.888565,-4.371360,0.0,0.0,2,2
3,334001,30,55.949798,-3.201760,0.0,0.0,2,2
4,334002,0,55.886638,-3.719742,0.0,0.0,2,2
5,334003,35,55.947747,-4.584247,0.0,0.0,2,2
6,334004,11,55.901093,-4.327725,0.0,0.0,2,2
7,334005,15,55.927032,-3.312633,0.0,0.0,2,2
8,334006,22,55.950905,-3.195128,0.0,0.0,2,2
9,334007,8,55.875325,-4.219673,0.0,0.0,2,2
10,334008,10,55.866263,-4.045522,0.0,0.0,2,2
11,334009,12,55.842367,-4.217292,0.0,0.0,2,2
12,334010,31,55.896578,-3.635577,0.0,0.0,2,2
13,334011,14,55.846900,-4.286137,0.0,0.0,2,2
14,334012,6,55.909858,-4.419433,0.0,0.0,2,2
15,334013,41,55.888638,-4.371225,0.0,0.0,2,2
16,334014,26,55.930968,-4.488375,0.0,0.0,2,2
17,334015,29,56.003930,-4.732003,0.0,0.0,2,2
18,334016,17,55.890710,-4.380700,0.0,0.0,2,2
19,334017,16,55.906485,-4.342198,0.0,0.0,2,2
20,334018,27,55.846960,-4.286192,0.0,0.0,2,2
21,334019,5,55.864702,-4.270810,0.0,0.0,2,2
22,334020,20,55.929242,-3.292682,0.0,0.0,2,2
23,334021,18,55.859893,-4.106925,0.0,0.0,2,2
24,334022,3,55.856883,-4.225540,0.0,0.0,2,2
25,334023,34,55.929383,-3.292240,0.0,0.0,2,2
26,334024,32,55.859615,-4.102188,0.0,0.0,2,2
27,334025,21,55.854743,-4.190298,0.0,0.0,2,2
28,334026,7,55.896702,-3.636513,0.0,0.0,2,2
29,334027,2,55.864617,-4.270437,0.0,0.0,2,2
30,334028,23,55.895578,-4.319730,0.0,0.0,2,2
31,334029,28,56.003942,-4.731732,0.0,0.0,2,2
32,334030,19,55.857232,-4.227478,0.0,0.0,2,2
33,334031,4,55.890605,-4.380520,0.0,0.0,2,2
34,334032,25,55.883070,-4.326550,0.0,0.0,2,2
35,334033,24,55.900495,-4.326213,0.0,0.0,2,2
36,334034,9,55.862560,-4.252918,0.0,0.0,2,2
37,334035,39,55.941200,-4.314445,0.0,0.0,2,2
38,334036,38,56.003810,-4.731068,0.0,0.0,2,2
39,334037,36,55.857357,-4.228103,0.0,0.0,2,2
40,334038,37,55.896445,-3.635785,0.0,0.0,2,2
41,334039,40,55.893828,-4.389265,0.0,0.0,2,2

## Download the Source Code
Make sure you have python, conda and git configured in your corporate laptop. If not install please follow the [link](https://knorrbremse.service-now.com/self_service?id=kb_article&sys_id=b244d8f31b36641016f61f4c2e4bcbda) for python and conda and this [link](https://knorrbremse.service-now.com/self_service?id=kb_article&sys_id=541c9d8d1be3ec903c79520f6e4bcb4a) for git.

Once you have all the software mentioned above, just open the conda prompt and change to your preferred directory location and then try: 
```python
% git clone git@github.com:username/repository.git
```

## Install the Conda Environment and Packages 
Now that you have the source code folder, change to the location of that cloned directory, and then run the following commands:
```python
% conda env create --file conda_env_dashboard.yml

% conda activate dashboard
```

## Run the Application
Simply type the following command:

```python
% python app.py
```

If your default browser is not opened, then open a browser go to http://localhost:8050/. You should be able to create an account and login to the dashboard.