In [1]:
# Import libraries
import os
import pathlib
from dotenv import load_dotenv
import pandas as pd
from datetime import datetime
from twilio.rest import Client

In [2]:
# Set paths
base_dir = pathlib.Path(r'C:\Users\ahmedk40\OneDrive - London South Bank University\Final Year\BEng Project\attendance_monitoring_via_sms')

# Path to all data directories
data = base_dir/'datasets'

# Path to credentials data
credentials = data/'credentials'

# Path to state data
state = data/'state'

# Path to raw data
raw = data/'raw'

# Path to processed data
processed = data/'processed'

# Path to environment variables
env_vars = pathlib.Path(base_dir/'env_vars')

In [3]:
df_course = pd.read_csv(credentials/'courses.csv')

In [4]:
df_course

,id,course_name,course_code,tutor,email,teaching_day,start_time,end_time
0,1,Engineering Mathematics and Modelling,101,Jon Selig,seligjm@lsbu.ac.uk,Monday,09:00,11:00
1,2,Digital Logic Design,102,Oswaldo Cadenas,cadenaso@lsbu.ac.uk,Tuesday,10:00,12:00
2,3,Cybersecurity and Cryptography,103,Stavros Dimitriou,dimitrsa@lsbu.ac.uk,Wednesday,11:00,13:00
3,4,Final Year Project,104,Fang Duan,duanf@lsbu.ac.uk,Thursday,12:00,14:00
4,5,Computer Systems and Software Engineering,105,Ya Bao,baoyb@lsbu.ac.uk,Friday,13:00,15:00
5,6,Desging and Practice,106,Alessio Corso,corsoa@lsbu.ac.uk,Monday,14:00,16:00
6,7,Engineering Computing,107,Perry Xiao,perry.xiao@lsbu.ac.uk,Tuesday,15:00,17:00
7,8,Engineering Principles,108,Steve Faulkner,steve.faulkner@lsbu.ac.uk,Monday,16:00,18:00
8,9,Innovation and Enterprise,109,Barney Townsend,barney.townsend@lsbu.ac.uk,Tuesday,17:00,19:00
9,10,Computer Networks,110,Zhanfang Zhao,zhanfang.zhao@lsbu.ac.uk,Wednesday,18:00,20:00

In [6]:
course_name = df_course.course_name[0]
course_name

'Engineering Mathematics and Modelling'

In [9]:
df_course.loc[df_course.course_name==course_name].index.values[0]

0

In [11]:
df_course.loc[0, 'teaching_day'] = 'Tuesday'

In [13]:
df_course

,id,course_name,course_code,tutor,email,teaching_day,start_time,end_time
0,1,Engineering Mathematics and Modelling,101,Jon Selig,seligjm@lsbu.ac.uk,Tuesday,09:00,11:00
1,2,Digital Logic Design,102,Oswaldo Cadenas,cadenaso@lsbu.ac.uk,Tuesday,10:00,12:00
2,3,Cybersecurity and Cryptography,103,Stavros Dimitriou,dimitrsa@lsbu.ac.uk,Wednesday,11:00,13:00
3,4,Final Year Project,104,Fang Duan,duanf@lsbu.ac.uk,Thursday,12:00,14:00
4,5,Computer Systems and Software Engineering,105,Ya Bao,baoyb@lsbu.ac.uk,Friday,13:00,15:00
5,6,Desging and Practice,106,Alessio Corso,corsoa@lsbu.ac.uk,Monday,14:00,16:00
6,7,Engineering Computing,107,Perry Xiao,perry.xiao@lsbu.ac.uk,Tuesday,15:00,17:00
7,8,Engineering Principles,108,Steve Faulkner,steve.faulkner@lsbu.ac.uk,Monday,16:00,18:00
8,9,Innovation and Enterprise,109,Barney Townsend,barney.townsend@lsbu.ac.uk,Tuesday,17:00,19:00
9,10,Computer Networks,110,Zhanfang Zhao,zhanfang.zhao@lsbu.ac.uk,Wednesday,18:00,20:00

In [14]:
duration = 2
start_time = df_course.loc[0, 'start_time']

In [16]:
(pd.to_datetime(pd.Series([f'{start_time}'])) + pd.Timedelta(f"{duration} hour")).dt.strftime('%H:%M').squeeze()

'11:00'

In [23]:
[f'{i:02d}:{0:02d}' for i in range(9,19)]

['09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00']

In [25]:
[f'{i:02d}:{0:02d}' for i in range(9,19)] == df_course.start_time.tolist()

True

In [24]:
df_course.start_time.tolist()

['09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00']

In [35]:
set(df_course.teaching_day.unique().tolist()) == set(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])

True

In [34]:
set(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])

{'Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [2]:
ts = pd.date_range(start='1/1/2023', end='31/1/2023', freq='W')
ts

DatetimeIndex(['2023-01-01', '2023-01-08', '2023-01-15', '2023-01-22',
               '2023-01-29'],
              dtype='datetime64[ns]', freq='W-SUN')

In [ ]:
ts

In [3]:
ts1 = pd.period_range(start='1/1/2023', end='31/1/2023', freq='W')
ts1

PeriodIndex(['2022-12-26/2023-01-01', '2023-01-02/2023-01-08',
             '2023-01-09/2023-01-15', '2023-01-16/2023-01-22',
             '2023-01-23/2023-01-29', '2023-01-30/2023-02-05'],
            dtype='period[W-SUN]')

In [6]:
df = pd.read_csv(processed/'attendance'/'103_semester_2_week_1_attendance.csv')

In [7]:
df.dtypes

from             int64
student_id       int64
student_name    object
message         object
date_sent       object
dtype: object